.sidemenu{
    background-color: #041737; 
    width: 250px;
    height: auto;
    font-size: 14px;
}
.sidemenu h2{
    color: #EA7E54;
    font-size: 20px;
    
}
.sidemenu ul li a:hover{
    color: #DEECF6;
    border-left: 3px solid #DEECF6;

}
#dash {
    background-color: #3963AD;
    color: #CED7EA;
    border-radius: 10px;
    font-size: 14px;
}
.sidemenus h4{
    color: #49688D;
    font-size: 14px;
}
.sidemenus ul li{
    list-style-type: none;
    margin-bottom: 10px;    
}
.sidemenus ul li a{
    text-decoration: none;
    color: #829ab9;
}
.sidemenus hr{
    color: #677e9e;
    width: 70%;
}



.card-title{
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-align: center;
}
.card-title i{
    display: flex; 
    justify-content: center;
    align-items: center;
}

.card:hover{
    box-shadow: 0px 0px 5px #041737;
}
.middle:hover{
    box-shadow: 0px 0px 5px #041737;
}
.footer:hover{
    box-shadow: 0px 0px 5px #041737;
}
.right-side:hover{
    box-shadow: 0px 0px 5px #041737;
}
#card{
    margin-top: 5px;
    border-radius: 25px;
}
#card1{
    width: 100%;
    border-radius: 20px;
    

}
.card-body{
    opacity: 0.3;
    cursor: pointer;
}
.card-body:hover{
    opacity: 1;
    
    transition: all 3s ease;
}
#card2{
    width: 100%;
    border-radius: 20px;
    

}
#card3{
    width: 100%;
    border-radius: 20px;


}

.card-title i{
    color: #3A98B5;
    background-color: #DEECF6;
    border-radius: 100%;
    width: 40px;
    height: 40px;    
}
.card-body h5{
    font-size: 16px;
}
.card-body h5 i{
    font-size: 20px;
}
.card-body p i{
    color: #6AB98A;
}
.card-body span{
    color: #6AB98A;
}
#barchart-1{
    background-color: #FFFFFF;
    border: 2px solid #FFFFFF;
    border-radius: 15px;
   width: 49%;
    
}
body{
    background-color: #F0F1F3;
    
}
#barchart-2{
    background-color: #FFFFFF;
    border: 2px solid #FFFFFF;
    border-radius: 15px;
    width: 49%; 
}
.per{
    color: #6AB98A;
}
#main-table{
    background-color: #FFFFFF;
    border: 2px solid #FFFFFF;
    border-radius: 15px;
    padding: 5px;
    margin: 5px;
    
}
.tablemain{
    width: 100%;
}
.table tbody td button{
    background-color: #D0ECDB;
}
.right-side{
    background-color: #FFFFFF;
    border: 2px solid #FFFFFF;
    border-radius: 15px;
    width: 30%;
    height: 100%; 
}
#main-content{
    margin-right: 15px;
}
aside i{
    padding: 4px;
    margin: 4px;
}
.dot{
    border-radius: 100%;
    background-color: #041737;
    width: 45px;
    height: 45px;
    margin-right: 5px;
}
.item-body p{
    margin: 0px;
}
#admin{
    border: none;
    outline: none;
    background: transparent;
    align-items: baseline;
}
.pe-lg-5 {
    display: flex;
    padding-right: 3rem !important;
    align-items: center;
    padding-left: 3px;
}
table button{
    width: 90px;
}
#main-table{
    width: 100%;
    overflow: auto;
    
}   

@media screen and (max-width:500px) {
    .sidemenu{
        background-color: #041737; 
        width: 100%;
        padding: 0;
        margin: 0;
        font-size: 14px;
    }
    #barchart-1{
        width: 100%;
        height: 100%;
        margin-bottom: 5px;
    }
    #barchart-2{
        width: 100%;
        height: 100%;
    }
    .card{
       margin-top: 5px;
    }
    #main-content{
        width: 100%;
    }
    #card{
        margin-top: 5px;
        border-radius: 25px;
        flex-wrap: nowrap;
        width: 100%;
        flex-direction: column;
            
    }

    #card1{
        width: 100%;
        height: 100%;
    }
    #card2{
        width: 100%;
        height: 100%;
    }
    #card3{
        width: 100%;
        height: 100%;
    }
    #header{
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 50%;
    }
    #over{
        width: 50%;
    }
    .tablemain{
        width: 100%;
    }
    .right-side{
        width: 100%;
        
    }
    .tablemain{
        width: 50%;

    }
    .admin img,h5{
        margin-left: 3px;
    }
    #main-table{
        width: 100%;
        overflow: scroll;
    }
    table{
        width: 100%;
    }
    table button{
        width: 50px;
    }
    table td{
        width: 15px;
    }
    .side-main h2{
    
        display: flex;
        align-items: baseline;
        justify-content: center;
    }
    
    
}
@media screen and (min-width:500px ) and (max-width:900px) {
    body{
        width: 100%;
    }
    .container{
        margin-left: 0px;
    }
    .sidemenu{
        background-color: #041737; 
        width: 100%;
        padding: 0;
        margin: 0;
        font-size: 14px;
    }
    .main{
        width: 100vw;
        display: flex;
        align-items: baseline;
        flex-direction: column;
    }
    .main1{
        width: 100%;
        
    
    }
    #barchart-1{
        width: 100%;
        height: 100%;
        margin-bottom: 5px;
    }
    #barchart-2{
        width: 100%;
        height: 100%;
    }
    .card{
       margin-top: 5px;
    }
    #card1{
        width: 100%;
        height: 100%;
    }
    #card2{
        width: 100%;
        height: 100%;
    }
    #card3{
        width: 100%;
        height: 100%;
    }
    #header{
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 50%;
    }
    #over{
        width: 50%;
    }
    #main-table{
        width: 100%;
    }
    .right-side{
        width: 100%;
        
    }
    .tablemain{
        object-fit: contain;

    }    
    
}
@media screen and (min-width:900px ) and (max-width:1000px){
    body{
        width: 100%;
    }
    .right-side{
        width: 100%;
    }
}