.sidemenu{
    background-color: #041737; 
    width: 250px;
    height: 100%;
    font-size: 14px;
}
.sidemenu h2{
    color: #EA7E54;
    font-size: 20px;
    
}
#Dash h5{
    background-color: #3963AD;
    color: #CED7EA;
    border-radius: 10px;
    font-size: 14px;
}
.sidemenus h4{
    color: #285588;
    font-size: 14px;
}
.sidemenus ul li{
    list-style-type: none;
    margin-bottom: 10px;
    text-align:start;
    
    
}
.sidemenus ul li a{
    text-decoration: none;
    color: #557DAB;
    
}
.sidemenus hr{
    color: #0F3463;
    width: 70%;
}